<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Volunteer_website</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Volunteer_website.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />

    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />

    <link rel="stylesheet" href="~/css/aos.css" />

    <link rel="stylesheet" href="~/css/ionicons.min.css" />

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/icomoon.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link href="~/OrgLayout/assets/css/site.css" rel="stylesheet" />
    <link href="~/OrgLayout/assets/js/alert.js" rel="stylesheet" />
</head>
<body>
    @*<header>


                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>

                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Events" class="nav-link">Events</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Fundrasing" class="nav-link">Fundraising</a>

                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Volunteers" class="nav-link">Volunteers</a>

                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="News" class="nav-link">News</a>

                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="AboutUS" class="nav-link">AboutUs</a>

                        </li>
                    </ul>
                    <!-- nav-icons-container -->
                    <div class="nav-icons-container d-flex align-items-center">
                        <!-- Search button -->

                        <a class="icon d-flex align-items-center justify-content-center search-icon"
                           id="search-btn"
                           href="#"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#offcanvas-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <!-- Search screen -->
                        <div id="search-overlay" style="display: none">
                            <div class="search-box">
                                <h2>Search by keyword</h2>
                                <div class="search-input">
                                    <input type="text" placeholder="keywords" />
                                    <button class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <button id="close-search">&times;</button>
                        </div>

        @if (TempData.ContainsKey("Error"))
        {
            <div id="customAlertError" class="modern-alert error">
                <div class="alert-icon">
                    <span>⚠</span>
                </div>
                <div class="alert-content">
                    <strong>Error</strong>
                    <p>@TempData["Error"]</p>
                </div>
                <div class="alert-close" onclick="this.parentElement.remove()">×</div>
            </div>
        }
    </header>*@

                    <ul class="dropdown-menu dropdown-animation shadow pt-3"
                        aria-labelledby="profileDropdown">
                        <!-- Profile info -->
                        <!-- Links -->
                        <li>
                            <a class="dropdown-item" href="@Url.Action("SignIn", "Account2")">
                                <i class="bi bi-person fa-fw me-2"></i>Login
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item bg-danger-soft-hover" href="@Url.Action("Sign_Up", "Account2")">
                                <i class="bi bi-power fa-fw me-2"></i>Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
       
    </header>
            @RenderBody()
    @await Html.PartialAsync("Footer")



     
    <script src="~/js/Navbar_user.js"></script>
    <script src="~/js/Search.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
