
@{
    ViewData["Title"] = "AboutUs";
}

<div class="hero-wrap" style="background-image: url('@Url.Content("~/images/gt1.png")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About us</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url('@Url.Content("~/images/sk2.jpg")'); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="mb-4">DUTERS- Since 2010</h2>
                <p>DUTERS, established in 2010, has always aimed to provide practical support to those in need within the community. We believe that with the collective effort of everyone, we can change the lives of poor children, elderly people without family support, and those who need help in society.</p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Has supported more than.</span>
                        <strong class="number" data-number="1432805">0</strong>
                        <span>Has supported more than households across the entire country of Vietnam.</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Donate</h3>
                        <p>Every small contribution today is a great hope for tomorrow. Join us in helping those in need.</p>
                        <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Donate now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Become a volunteer.</h3>
                        <p>Join us on the journey to bring light to the highlands.</p>
                        <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Join now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Founder</h2>
                <p>Together, through every small act of kindness, every gift filled with love, and every moment of sharing, we can light up the lives of those in need, bringing hope, love, and a bright future to every corner of the community.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url('@Url.Content("~/images/Chibao.jpg")');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Phan Tran Chi Bao</a></h3>
                            <span class="position">DUT-er</span>
                            <div class="text">
                                <p>A passionate philanthropist who founded DUTERS with the vision of bringing practical support to those in need.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url('@Url.Content("~/images/Huy&Dat.jpg")');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Lê Dương Huy</a></h3>
                            <span class="position">DUT-er</span>
                            <div class="text">
                                <p> Dedicated to empowering underprivileged communities through education and sustainable development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url('@Url.Content("~/images/QuốcĐạt.jpg")');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Trần Quốc Đạt</a></h3>
                            <span class="position">DUT-er</span>
                            <div class="text">
                                <p>Believes that small acts of kindness can create a big impact, inspiring others to join the mission of giving.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

