
@{
    ViewData["Title"] = "AboutUs";
}

<div class="hero-wrap" style="background-image: url('@Url.Content("~/images/gt1.png")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About us</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url('@Url.Content("~/images/sk2.jpg")'); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="mb-4">DUTERS 2010</h2>
                <p>Dự án Website tổ chức phi lợi nhuận nhằm mục đích học tập, cung cấp thông tin về các hoạt động từ thiện, giúp mọi người dễ dàng tham gia, đóng góp và theo dõi tác động của những hành động ý nghĩa.</p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Đã Phục Vụ Hơn</span>
                        <strong class="number" data-number="1432805">0</strong>
                        <span>Trẻ em tại 190 quốc gia trên thế giới.</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Donate</h3>
                        <p>Mỗi đóng góp nhỏ hôm nay là niềm hy vọng lớn lao cho ngày mai. Hãy cùng chúng tôi giúp đỡ những người đang gặp khó khăn.</p>
                        <a asp-action="Events" asp-controller="Home" class="btn btn-white px-3 py-2 mt-2">Ủng hộ</a>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Trở thành 1 tình nguyện viên</h3>
                        <p>Hãy tham gia cùng chúng tôi</p>
                        <a asp-action="Events" asp-controller="Home" class="btn btn-white px-3 py-2 mt-2">Tham gia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Người sáng lập</h2>
                <p>Cùng nhau, thông qua mỗi hành động tử tế nhỏ, mỗi món quà chứa đầy tình yêu thương và mỗi khoảnh khắc chia sẻ, chúng ta có thể thắp sáng cuộc sống của những người đang cần, mang lại hy vọng, tình yêu thương và tương lai tươi sáng cho cộng đồng.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url('@Url.Content("~/images/Chibao.jpg")');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Phan Tran Chi Bao</a></h3>
                            <span class="position">DUT-er</span>
                            <div class="text">
                                <p>Một nhà từ thiện nhiệt thành đã thành lập DUTERS với tầm nhìn mang lại sự hỗ trợ thiết thực cho những người có nhu cầu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url('@Url.Content("~/images/LeDuongHuy.png")');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Lê Dương Huy</a></h3>
                            <span class="position">DUT-er</span>
                            <div class="text">
                                <p>Cống hiến cho việc trao quyền cho các cộng đồng kém may mắn thông qua giáo dục và phát triển bền vững.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url('@Url.Content("~/images/QuốcĐạt.jpg")');"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Trần Quốc Đạt</a></h3>
                            <span class="position">DUT-er</span>
                            <div class="text">
                                <p>Tin rằng những hành động tử tế nhỏ bé có thể tạo ra tác động lớn, truyền cảm hứng cho những người khác tham gia sứ mệnh cho đi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

